{% extends "home/home.html" %}

{% block head %} Amber Alert {% endblock %}
{% block content %}
<style>
    #top{
        padding-top:1%;
        padding-left:2%;
        height:10%
    }
    #center{
        height:40%;
        margin-left:5%;
        width:90%;
    }
    #bottom{
        height:30%;
        margin-left:5%;
        width:75%;
        padding-top:2%;
        padding-left:15%;
    }
    #bottomLeft{
        width:20%;
        background-color:transparent;
        float:left;
    }
    #bottomCenter{
        width:20%;
        background-color:transparent;
        float:left;
    }
    #bottomRight{
        width:40%;
        float:left;
        background-color:transparent;
        margin-top:1.5%;
    }
    #alert{
        margin-top:5%;
        margin-left:10%;
    }
    #topLeft{
        height:10%;
        width:30%;
        float:left;
    }
    #topCenter{
        height:10%;
        width:50%;
        float:left;
    }
    #topBottom{
        height:10%;
        width:20%;
        float:left;
    }
    #centerLeft{
        width:25%;
        float:left;

    }
    #centerCenter{
        width:45%;
        float:left;
    }
    #centerRight{
        width:30%;
        float:left;
    }
</style>
<div class="container-fluid">
        <div id="top">
            <div id="topLeft">
                <label name="reportid"> Report ID</label>
                <input type="text" name="action_text" style="width:20%"/>
                <label name="action_label" style="margin-left:3%"> Action</label>
                <select id="action">
                    <option value="find"> Find Report</option>
                    <option value="add"> Add Report</option>
                    <option value="save"> Save Report </option>
                    <option value="update">Update Report</option>
                    <option value="print"> Print Report</option>
                    <option value="delete"> Delete Report</option>
                    <option value="refresh"> Refresh</option>
                </select>
                <button type="submit" value="go" > Go</button>
            </div>
            <div id="topCenter">
                <label name="date" style="margin-left:15%"> Date</label>
                <input type="text" name="datetext" />
                <label name="time" style="margin-left:3%"> Time</label>
                <input type="text" name="timetext"/>
                <br>
                <br>
                <label name="statuslabel" style="margin-left:30%"> Status</label> <br>
                <input type="checkbox" name="status" style="margin-left:30%"> Closed
            </div>
            <div id="topBottom">
                <label name="opearatorlabel" style="margin-left:10%"> Operator</label>
                <select id="opearator">
                    <option> Schwartz, Andrew</option>
                </select>
                <div id="alert">
                    <button type="submit" value="Email" class="btn btn-default">Read Amber Alert Policy</button>
                </div>
            </div>
        </div>

        <div id="center">
            <div id="centerLeft">
                <p style="margin-left:5%"> <b> Received Fax/Verbal Notification form: </b></p>
                <input type="checkbox" name="nysta" style="margin-left:5%">
                <label name="nystalabel"> NYSTA SOC-(800) 842-2233</label><br>
                <input type="checkbox" name="nysdot" style="margin-left:5%;margin-top:1%">
                <label name="nysdotlabel"> NYSDOT Region 10 - (631) 952-6777</label><br>
                <input type="checkbox" name="newvalue" style="margin-left:5%;margin-top:1%">
                <input type="text" name="newvaluetext">
                <p style="margin-left:5%;margin-top:3%"> <b> Operator Notification: </b></p>
                <input type="checkbox" name="toc" style="margin-left:5%">
                <label name="toclabel"> Contact TOC Manager</label><br>
                <input type="checkbox" name="nystasup" style="margin-left:5%;margin-top:1%">
                <label name="nystasuplabel"> Contact NYSTA Traffic Supervisor</label>
            </div>
            <div id="centerCenter" style="padding-top:1%">
                <label name="geninfo" style="margin-left:5%;margin-top:5%"> <b> General Information </b></label><br>
                <textarea rows="11" cols="70" style="margin-top:1%"></textarea>
            </div>
            <div id="centerRight">
                <p style="margin-left:5%">  <b> Crossroads</b> </p>
                <table frame="box" style="margin-left:5%">
                    <tr>
                        <th align="right"> <label> ID</label></th>
                        <td> <input type="text" name="id"></td>
                    </tr>
                    <tr>
                        <th rowspan="3" align="center"> Activated</th>
                        <td> <input type="checkbox" name="adms"> DMS</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" name="aemail">Fax/Email</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" name="aweb">Web</td>
                    </tr>
                    <tr>
                        <th rowspan="3" align="center"> Deactivated</th>
                        <td> <input type="checkbox" name="ddms"> DMS</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" name="demail">Fax/Email</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" name="dweb">Web</td>
                    </tr>
                    <tr>
                        <th rowspan="2" align="center"> Website</th>
                        <td> <input type="checkbox" name="ext"> Extended Manual</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" name="del">Deleted Manual</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="bottom">
            <div id="bottomLeft">
                <label> DMS List</label><br>
                <select id="dmslist" name="dmslist" multiple style="height:65%">
                    <option value="Amherst"> DMS 1.0. S I-990 Amherst</option>
                    <option value="Colvin"> DMS 3.8 W I-290 Colvin</option>
                </select>
            </div>
            <div id="bottomCenter">
                <label> DMS Active</label><br>
                <textarea rows="10" cols="18" name="dmsactive"></textarea>
            </div>
            <div id="bottomRight">
                <table frame="box">
                    <tr>
                        <td><input type="checkbox" name="dms"> DMS</td>
                        <td align="right"> Activation Time</td>
                        <td> <input type="text" name="dmsact>"</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right"> Deactivation Time</td>
                        <td> <input type="text" name="dmsdeact>"</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="dms"> PVMS</td>
                        <td align="right"> Activation Time</td>
                        <td> <input type="text" name="pvmsact>"</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right"> Deactivation Time</td>
                        <td> <input type="text" name="pvmsdeact>"</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="dms"> HAR</td>
                        <td align="right"> Activation Time</td>
                        <td> <input type="text" name="haract>"</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right"> Deactivation Time</td>
                        <td> <input type="text" name="hardeact>"</td>
                    </tr>
                </table>
            </div>
        </div>
</div>

{% endblock %}